@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --font-base: "DM Sans", sans-serif;

  --primary-color: #efe9e1;
  --secondary-color: #ac9c8d;
  --black-color: #030303;
  --lightGray-color: #d9d9d9;
  --gray-color: #d1c7bd;
  --brown-color: #72383d;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}